body{
    background-color:rgb(249, 242, 242);
    font-family: 'Tourney', cursive;
      margin: 0;
}

header{
    display: flex;
    height: 40px;
    background-color:darkslategray;
    padding: 10px;
    justify-content: left;
}
.up{
    display: flex;
    align-items: center;
    font-size:  30px;
    color: white;
    justify-content: right;
}

.img0{
        height: 60px;
        margin-right: 10px;
}

main{
    margin-right:  5%;
    margin-left: 5%;
}

a{
    text-decoration: none;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 15px;
}   

.s1{
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: 100px; 
}

.dp{
   background-color: darkslategray;
   color: white;
   font-size: 25px;
} 

.lista1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2.5;
    align-items: center;
    display: flex; 
    justify-content: space-around;  
 }


.s2{
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: 420px;   
}
.pabio{
   margin-left: 50px;
   margin-right: 50px;
   marker-end: 25px;

}

.imgbiografia{
    display: flex;
    height: 150px;
    justify-content:space-around;
    padding: 15px;
    }

    
.s3{
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: 200px;
    
}

.des{
    margin-left: 50px;
    margin-right: 50px;
    marker-end: 25px
    ;
}

.s4{
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: 100px;  
}

.lista2{
    display: flex;
    justify-content:space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2.5;
}

.s5{
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: 160px;
    
   
}
.buttoms{
   display: flex;
}

 button{
    width: 80px;
    height: 80px;
    background: goldenrod;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 0px;
    color: antiquewhite;
    font-size: 60px;
    transition: .3s ease all;
} 
button:hover{
    background: antiquewhite;
    color: goldenrod;
    box-shadow: 3px 3px 3px rgba(0,0,0, .15);
}

.but1{
    margin: auto;
    display:flex;
   padding: 15px;
}

.but2{
    margin: auto;
    display:flex;
    padding: 15px;
   }

.but3{
    margin: auto;
    display:flex;
    padding: 15px;
   }
   

   


.s6{
    background-color: rgb(202, 202, 202);
    width: 100%;
    height:220px;
}
.moreMe{
    display:flex;
    justify-content: space-around;
    align-items: center;
 }

 .img3{
    width: 100px;
    margin: auto;
}

 .s7{
    background-color: rgb(202, 202, 202);
    width: 100%;
    height:270px;
    justify-content: space-around;
    align-items: center;
}

.s7uno {
    display: flex;
    justify-content: space-around;
}
.sidney{
    display:flex;
    width: 30%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0,0,0, .5);
    margin:0;
    align-items:center
}
.sidney p{
    margin-right: 15px;
    margin-left: 30px;
    font-size: 15px;
   
}
.sidney img{
    margin-left: 20px;
    width: 150px;
    margin: auto; 
    border-radius: 40%;
}

.play{
    display:flex;
    width: 30%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0,0,0, .5);
    align-items:center
}
.play1 {
    margin-right: 15px;
    margin-left: 30px;
    font-size: 15px;
}
.play img{
    margin-left: 15px;
    width: 50%;
    height: 130px;
    border-radius: 10%;
}

.soccer{
    display:flex;
    width: 30%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0,0,0, .5);
    align-items:center
}
.soccer p{
    margin-right: 15px;
    margin-left: 30px;
    font-size: 15px;
}
.soccer img{
   margin-left: 15px;
    width: 150px;
    border-radius: 10%;
}
.footer{
    background-color: darkslategrey;
}
 












 
 

 

 