header{
    display: flex;
    height: 40px;
    background-color:darkslategray;
    padding: 10px;
    justify-content: left;
}
.up{
    display: flex;
    align-items: center;
}

main{
    margin-right:  5%;
    margin-left: 5%;
}

p{
    text-align: justify;
}   

.s1{
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: 100px;   
}

.dp{
   background-color: darkslategray;
   color: white;
} 

.lista1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2.5;
    align-items: center;
    display: flex; 
    justify-content: center;  
 }

.lista1 li{
   padding-right: 100px;  
}

.s2{
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: 425px;  
}
.pabio{
   margin-left: 50px;
   margin-right: 50px;
   marker-end: 25px
   ;
}


 
    header h2{
        font-size:  35px;
        color: white;
        justify-content: right;
    }

a{
    text-decoration: none;
}

body{
    background-color:rgb(249, 242, 242);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

    .img {
        width: 300px;
        margin: auto;
    }
    .img0{
        height: 60px;
        margin-right: 10px;
}

h3{
    color: black;
}

    .img1{
        width: 200px;
        margin: auto;
    }

.img2{
    width: 150px;
    margin: auto; 
    border-radius: 40%;
}

.img3{
    width: 100px;
    margin: auto;
}
.img4{
    display: flex;
    justify-content: center;
    width: 250px;
    margin: auto;
    border-radius: 20%;
}
.img5{
    display: flex;
    justify-content: center;
    width: 250px;
    margin: auto;
    border-radius: 20%;
}
.contenedor{
    display: flex;
    justify-content: center;
}

.contenedor2{
    display: flex;
    justify-content: center;
} 
.contenedor3{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: pink;
    width: 200px;
    height: 200px;
    border-radius: 40%;
}
contenedor5{
     display: flex;
    justify-content: center;
}



 .lista2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2.5;
 }
 
 .moreMe{
    display:flex;
    justify-content: center;
 }
 

 .parrafo{
    display: flex;
    justify-content: center;
    margin: auto; 
    word-spacing: 350px;
 }

 