.cuentaRegresiva{
 
    justify-content: center;
   align-items: center;
    background-color: blue;
    width: 500px;
    height: 200px;
    border-radius: 15px;

}
.s1{
    display: flex;
    justify-content: center;
   padding: 200px;
   align-items: center;

}
input{
    align-items: center;
    height: 40px;
    width:40%;
    margin: 20px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-family:cursive ;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    border-radius: 15px;
}